{% extends "base.html" %}

{% block content %}

<div>
    <span id="key">Origin: </span> <span id="value">{{ entry.ip }} @ {{ entry.datetime }}</span><br>
    <span id="key">Reuqest: </span> <span id="value">{{ entry.method }} {{ entry.url }}</span><br>
    <span id="key">Query: </span> <span id="value">{{ entry.query_string }}</span><br>
    <span id="key">Headers: </span><br>
    {% for h in entry.headers %}
        |--> <span id="key">{{h.key}} </span> <span id="value">{{ h.value }}</span><br>
    {% endfor %}
    <span id="key">Data: </span>
    <pre>
        {{ entry.data.decode() }}
    </pre>
</div>

{% endblock %}